html,
body {
	height: 100%
}
body 
{ 
	margin: 0px;
	color: white;
	background-color: black;
}
button {
	user-select: none;
}
#log
{
	box-sizing: border-box;
	font-size: 1.5vw;
	height: 100%;
	overflow-y: auto;
	padding: 8px;
	width: 25vw;
}

#commands > * {
	padding: 8px;
}
#commands button
{
	background-color: white;
	border: 1px solid grey;
	box-sizing: border-box;
	color: black;
	cursor: pointer;
	display: block;
	font-size: 1vw;
	height: 8vh;
	overflow: hidden;
	text-align: center;
	text-transform: uppercase;
	width: 4.6vw;
}
#commands button:focus,
#commands button:hover
{
	background-color: #bec2c6;
}
#commands button:active
{
	background-color: #7a7c7f;
}
#commands > #movement button {
	font-size: 2vw;
	font-weight: bold;
}
#screen {
	position: relative;
	width: 100%;
}
#screen > canvas {
	height: 100%;
	position: absolute;
	width: 100%;
}
.flex {
	box-sizing: border-box;
	flex: 1;
}

.layout-column,
.layout-row {
	box-sizing: border-box;
	display: flex
}

.layout-row {
	flex-direction: row
}

.layout-column {
	flex-direction: column;
}

.layout-row > .flex {
	min-width: 0;
}

.layout-align-start-center {
	align-content: center;
	align-items: center;
	justify-content: flex-start;
	max-width: 100%;
}